// mixins
transition()
	-webkit-transition arguments
	-moz-transition arguments
	transition arguments

column-count()
	-webkit-column-count arguments
	-moz-column-count arguments
	column-count arguments


// koloreak
baltza = #040000
gris_iluna = #283744
gris_klarua = #F9F5F5
gorria = #ED1C2F

@import "icons.css"
@import "owl.carousel.css"
@import "owl.theme.css"
@import "audioplayer.css"
@import "sm-core-css.css"
@import "sm-simple.css"

a
	color baltza
	text-decoration none
	transition all 0.25s linear
	&:hover
		color gorria
		text-decoration underline
body
	background baltza
	font-family 'Source Sans Pro', sans-serif

footer
	padding 2em
	text-align center
input
	border 1px solid #D8D8D8
	outline 0
	
input.zabala
	padding 10px
	&.botoia
		display inline-block
		&:hover
			background baltza


img, video, embed, iframe
	max-width 100%

#agenda
	a
		color gorria

#agenda-ebentua
	width 95%	
	margin 0 auto
	.agenda-logo
		margin-left 2%
		width 100px
	.ebentua-deskribapena
		font-weight bold
	.ebentua-fitxa
		ul
			li
				list-style-type circle
	.ebentua-deskribapena, .ebentua-testua
		margin 1em 0.5em
	.ebentua-fitxa, .agenda-logo
		display inline-block
		vertical-align top

#agenda-zerrenda
	width 95%
	margin 0 auto
	.ebentua
		border solid 1px #dddddd
		display inline-block
		vertical-align top
		margin-left 1em
		margin-top 1em
		padding 1em
		width 16em
		figure
			width 3.5em
		figure, .ebentu-datuak
			display inline-block
			vertical-align top
		.ebentu-datuak
			width 70%
			margin-left 1em
#albo-barra
	margin 0 2em
	max-width 100%
#albiste-zerrenda
	.albistea
		margin 1em auto
		width 95%
		.albiste-irudia
			width 15%
		.deskribapena
			width 75%
		.audio-player
			width 300px
			margin 0.2em auto
#artista-edukia
	margin 1em 4%
	width 70%
	.titulua
		margin-left 0
	.artista-aurkezpena
		.artista-irudia
			float right
			margin-left 1em
			margin-bottom 2em
			width 250px
	.artista-hemeroteka
		a
			color red
		column-count 2
		ul
			li
				list-style-type circle
				padding-bottom 1em
#artista-edukia, .artista-menua
	display inline-block
	vertical-align top
#bilaketa
	fieldset
		width 94.1%
		border 1px solid #cdcdcd
		margin 0
		padding 0

#edukia
	margin-left 5%
	width 53%
	.albiste-gehiago
		margin-top .5em
		padding .5em 1em
		a
			color white
		a:hover
			text-decoration none

#owl-example
	.item	
		//margin 10px
		text-align center
#galleria
	background #000
	width 100%
	height 400px
#hizkuntza-menua
	ul
		margin 0
		li
			display inline-block
			margin-right 1em


#hemeroteka-bakarra
	width 95%
	margin 0 auto
	.pdf-jeitsi
		margin 1em
		a
			background gorria
			color white
			font-weight bold
			padding 0.5em
		a:hover
			background baltza
			text-decoration none
	.titulua
		margin 0.5em 0
#hemeroteka-zerrenda
	width 95%
	margin 0 auto
	a
		color gorria
	.zerrenda
		column-count 3
		ul
			padding 20px
			li
				margin-bottom 1em
#logoa
	width 150px
	margin-left 20%

#logoa, .sare-sozialak
	display inline-block
	vertical-align top

#s
	width 83.8%
	background-color #fff
	border 0
	float left
	font-size 14px
	padding 12px 0 12px 0
	text-indent 10px
	border-right 0

#menu-botoia
	font-size 1.5em
	padding 0.5em
	cursor pointer
	display none

#wrapper
	max-width 1024px
	min-width 320px
	margin 0 auto
	background white

#edukia, #albo-barra
	display inline-block
	vertical-align top

#scrollUp
	bottom 20px
	right 20px
	height 38px
	width 38px
	background url(../img/top.png) no-repeat

#disko-zerrenda
	text-align center
.albistea
	padding-bottom 1em
	border-bottom solid 2px baltza
.albiste-bakarra
	width 95%
	margin 0 auto
	.albiste-irudia
		width 25%
	.audio-player
		width 300px
		margin 0.5em auto
.albiste-irudia
	margin-right 0.5em
	width 30%
.artista-menua
	padding 2em 0
	width 150px
	ul
		padding 0
		list-style none
		.artista-aktiboa
			background gorria
			color white
			display block
			padding 1em
		li
			a
				background baltza
				display block
				color white
				padding 1em 
			a:hover 
				text-decoration none
				background gorria
.audio-player
	width 75%
.bidea
	padding .25em
	background-color gris_klarua
	font-size 0.9em
	color gris_iluna
	a
		color gorria
		text-decoration none
	a:hover
		text-decoration underline
	ul
		li
			display inline-block
			.banatzailea
				margin 0 .2em
.bideo-kutxa
	height 0
	overflow hidden
	padding-bottom 56.25%
	padding-top 30px
	position relative
	iframe
	embed
	object
	video
		height 100%
		left 0
		position absolute
		top 0
		width 100%
.buletina-widget
	max-width 100%	
.burua
	display inline-block
	width 100%
.deskribapena
	width 66%
	p
		margin 0.5em 0
.disko-fitxa
	width 60%
	margin 0 auto
	figure
		width 60%
	ul
		li
			list-style none
			.botoia-denda
				margin-top .5em
				a
					background gorria
					color white
					padding .2em .5em
					text-decoration none
					font-weight bold
				a:hover
					background baltza
			a
				color red
				text-decoration underline
	figure, ul
		display inline-block
		vertical-align middle
.disko-deskribapena, .disko-testua
	margin 0 auto
	width 90%
.disko-erlazionatuak
	h4
		margin-left 2em
	ul
		margin 2em auto
		li
			display inline-block
			vertical-align top
			margin-left 1%
			figure
				img
					width 200px
					height 200px
			figcaption
				p
					margin .5em 0
.disko-zerrenda
	display inline-block
	margin auto
	.disko-azala
		display inline-block
		vertical-align top
		width 300px
		margin 0.5em
		padding 0.2em
		border solid #cccccc 1px
		figcaption
			padding 0 0.5em
			p
				margin 0.2em 0
				text-align left
		img
			height 300px
.gehiago
	a
		color gorria
.paginator
	text-align center
	ul
		padding 0
		li
			display inline-block
			vertical-align middle
			a
				text-decoration none
		li:first-child
			margin-right 1em
		li:last-child
			margin-left 1em
.sare-sozialak
	float right
	margin-right 20%
	width 300px
	ul
		li
			display inline-block
			margin-right 1em
			a
				&:hover
					text-decoration none
					.icon-twitter:hover
						color #48B6FF
					.icon-facebook:hover
						color #3B5998
					.icon-feed:hover
						color #FF9C2A
				i
					font-size 2em

.titulua
	color gorria
	margin-left 1em
	text-align left
.botoia
	border none
	background-color gorria
	color white
	display inline-block
	transition all 0.25s linear
	&:hover
		background-color baltza

.sbutton
	border none	
	background-color gorria
	margin-right 0
	color white
	display inline-block
	float right
	padding 10px
	i
		font-size 1.2em

.menu-nagusia
	font-size 1.3em	
	margin-bottom 1em

.albiste-irudia, .deskribapena
	display inline-block
	vertical-align top
.buletina-widget, .irratia, .agenda
	margin-bottom 1em
@import "responsive.styl"
