@import "icons.css";
@import "owl.carousel.css";
@import "owl.theme.css";
@import "audioplayer.css";
@import "sm-core-css.css";
@import "sm-simple.css";
a{color:#040000;text-decoration:none;-webkit-transition:all .25s linear;-moz-transition:all .25s linear;transition:all .25s linear;}
a:hover{color:#ed1c2f;text-decoration:underline}
body{background:#040000;font-family:'Source Sans Pro',sans-serif}
footer{padding:2em;text-align:center}
input{border:1px solid #d8d8d8;outline:0}
input.zabala{padding:10px;}
input.zabala.botoia{display:inline-block;}
input.zabala.botoia:hover{background:#040000}
img,video,embed,iframe{max-width:100%}
#agenda a{color:#ed1c2f}
#agenda-ebentua{width:95%;margin:0 auto;}
#agenda-ebentua .agenda-logo{margin-left:2%;width:100px}
#agenda-ebentua .ebentua-deskribapena{font-weight:bold}
#agenda-ebentua .ebentua-fitxa ul li{list-style-type:circle}
#agenda-ebentua .ebentua-deskribapena,#agenda-ebentua .ebentua-testua{margin:1em .5em}
#agenda-ebentua .ebentua-fitxa,#agenda-ebentua .agenda-logo{display:inline-block;vertical-align:top}
#agenda-zerrenda{width:95%;margin:0 auto;}
#agenda-zerrenda .ebentua{border:solid 1px #ddd;display:inline-block;vertical-align:top;margin-left:1em;margin-top:1em;padding:1em;width:16em;}
#agenda-zerrenda .ebentua figure{width:3.5em}
#agenda-zerrenda .ebentua figure,#agenda-zerrenda .ebentua .ebentu-datuak{display:inline-block;vertical-align:top}
#agenda-zerrenda .ebentua .ebentu-datuak{width:70%;margin-left:1em}
#albo-barra{margin:0 2em;max-width:100%}
#albiste-zerrenda .albistea{margin:1em auto;width:95%;}
#albiste-zerrenda .albistea .albiste-irudia{width:15%}
#albiste-zerrenda .albistea .deskribapena{width:75%}
#albiste-zerrenda .albistea .audio-player{width:300px;margin:.2em auto}
#bilaketa fieldset{width:94.1%;border:1px solid #cdcdcd;margin:0;padding:0}
#edukia{margin-left:5%;width:53%;}
#edukia .albiste-gehiago{margin-top:.5em;padding:.5em 1em;}
#edukia .albiste-gehiago a{color:#fff}
#edukia .albiste-gehiago a:hover{text-decoration:none}
#owl-example .item{text-align:center}
#hizkuntza-menua ul{margin:0;}
#hizkuntza-menua ul li{display:inline-block;margin-right:1em}
#hemeroteka-zerrenda{width:95%;margin:0 auto;}
#hemeroteka-zerrenda a{color:#ed1c2f}
#hemeroteka-zerrenda .zerrenda{-webkit-column-count:3;-moz-column-count:3;column-count:3;}
#hemeroteka-zerrenda .zerrenda ul{padding:20px;}
#hemeroteka-zerrenda .zerrenda ul li{margin-bottom:1em}
#logoa{width:150px;margin-left:20%}
#logoa,.sare-sozialak{display:inline-block;vertical-align:top}
#s{width:83.8%;background-color:#fff;border:0;float:left;font-size:14px;padding:12px 0 12px 0;text-indent:10px;border-right:0}
#menu-botoia{font-size:1.5em;padding:.5em;cursor:pointer;display:none}
#wrapper{max-width:1024px;min-width:320px;margin:0 auto;background:#fff}
#edukia,#albo-barra{display:inline-block;vertical-align:top}
#scrollUp{bottom:20px;right:20px;height:38px;width:38px;background:url("../img/top.png") no-repeat}
#disko-zerrenda{text-align:center}
.albistea{padding-bottom:1em;border-bottom:solid 2px #040000}
.albiste-bakarra{width:95%;margin:0 auto;}
.albiste-bakarra .albiste-irudia{width:25%}
.albiste-bakarra .audio-player{width:300px;margin:.5em auto}
.albiste-irudia{margin-right:.5em;width:30%}
.audio-player{width:75%}
.bidea{padding:.25em;background-color:#f9f5f5;font-size:.9em;color:#283744;}
.bidea a{color:#ed1c2f;text-decoration:none}
.bidea a:hover{text-decoration:underline}
.bidea ul li{display:inline-block;}
.bidea ul li .banatzailea{margin:0 .2em}
.buletina-widget{max-width:100%}
.burua{display:inline-block;width:100%}
.deskribapena{width:66%;}
.deskribapena p{margin:.5em 0}
.disko-fitxa{width:60%;margin:0 auto;}
.disko-fitxa figure{width:60%}
.disko-fitxa ul li{list-style:none;}
.disko-fitxa ul li .botoia-denda{margin-top:.5em;}
.disko-fitxa ul li .botoia-denda a{background:#ed1c2f;color:#fff;padding:.2em .5em;text-decoration:none;font-weight:bold}
.disko-fitxa ul li .botoia-denda a:hover{background:#040000}
.disko-fitxa ul li a{color:#f00;text-decoration:underline}
.disko-fitxa figure,.disko-fitxa ul{display:inline-block;vertical-align:middle}
.disko-deskribapena,.disko-testua{margin:0 auto;width:90%}
.disko-erlazionatuak h4{margin-left:2em}
.disko-erlazionatuak ul{margin:2em auto;}
.disko-erlazionatuak ul li{display:inline-block;vertical-align:top;margin-left:1%;}
.disko-erlazionatuak ul li figure img{width:200px;height:200px}
.disko-erlazionatuak ul li figcaption p{margin:.5em 0}
.disko-zerrenda{display:inline-block;margin:auto;}
.disko-zerrenda .disko-azala{display:inline-block;vertical-align:top;width:300px;margin:.5em;padding:.2em;border:solid #ccc 1px;}
.disko-zerrenda .disko-azala figcaption{padding:0 .5em;}
.disko-zerrenda .disko-azala figcaption p{margin:.2em 0;text-align:left}
.disko-zerrenda .disko-azala img{height:300px}
.gehiago a{color:#ed1c2f}
.paginator{text-align:center;}
.paginator ul{padding:0;}
.paginator ul li{display:inline-block;vertical-align:middle;}
.paginator ul li a{text-decoration:none}
.paginator ul li:first-child{margin-right:1em}
.paginator ul li:last-child{margin-left:1em}
.sare-sozialak{float:right;margin-right:20%;width:300px;}
.sare-sozialak ul li{display:inline-block;margin-right:1em;}
.sare-sozialak ul li a:hover{text-decoration:none;}
.sare-sozialak ul li a:hover .icon-twitter:hover{color:#48b6ff}
.sare-sozialak ul li a:hover .icon-facebook:hover{color:#3b5998}
.sare-sozialak ul li a:hover .icon-feed:hover{color:#ff9c2a}
.sare-sozialak ul li a i{font-size:2em}
.titulua{color:#ed1c2f;margin-left:1em;text-align:left}
.botoia{border:none;background-color:#ed1c2f;color:#fff;display:inline-block;-webkit-transition:all .25s linear;-moz-transition:all .25s linear;transition:all .25s linear;}
.botoia:hover{background-color:#040000}
.sbutton{border:none;background-color:#ed1c2f;margin-right:0;color:#fff;display:inline-block;float:right;padding:10px;}
.sbutton i{font-size:1.2em}
.menu-nagusia{font-size:1.3em;margin-bottom:1em}
.albiste-irudia,.deskribapena{display:inline-block;vertical-align:top}
.buletina-widget,.irratia,.agenda{margin-bottom:1em}
@media screen and (max-width:1024px){#menu-botoia{display:inline-block;margin-left:1em;margin-bottom:1em}
.menu-nagusia{display:none}
}@media screen and (max-width:982px){body{width:100%}
#albo-barra{width:93%}
#wrapper{width:97%}
#edukia{margin-left:2%;width:96%;}
#edukia .albistea{width:100%;}
#edukia .albistea .albiste-irudia{margin-right:1%;width:20%}
#edukia .albistea .audio-player{width:300px;margin-left:28%}
}@media screen and (max-width:966px){.disko-fitxa{width:70%}
}@media screen and (max-width:902px){#albo-barra{width:90%}
#albiste-zerrenda .albistea .albiste-irudia{width:20%}
#albiste-zerrenda .albistea .deskribapena{width:70%}
}@media screen and (max-width:770px){#hemeroteka-zerrenda .zerrenda{-webkit-column-count:2;-moz-column-count:2;column-count:2}
#logoa{margin-left:10%}
.albiste-irudia{width:40%}
.deskribapena{width:60%}
.albiste-irudia,.deskribapena{display:inline-block;vertical-align:middle}
.sare-sozialak{margin-right:10%}
}@media screen and (max-width:632px){body{background-color:#fff;width:95%}
#edukia{width:90%;margin-left:3%;}
#edukia .albistea .albiste-irudia{width:30%}
}@media screen and (max-width:626px){#logoa,.sare-sozialak{display:inline-block;vertical-align:top;margin:.5em auto}
.burua{margin-left:5%}
}@media screen and (max-width:600px){#albiste-zerrenda .albistea .albiste-irudia{width:40%}
#albiste-zerrenda .albistea .deskribapena{width:50%}
.albiste-bakarra .albiste-irudia{width:30%}
.disko-fitxa figure{width:80%}
}@media screen and (max-width:487px){#hemeroteka-zerrenda .zerrenda{-webkit-column-count:1;-moz-column-count:1;column-count:1}
#logoa{margin-left:28%}
.sare-sozialak{margin-left:15%}
#logoa,.sare-sozialak{float:none}
#albiste-zerrenda .albistea .albiste-irudia{width:100%}
#albiste-zerrenda .albistea .deskribapena{width:100%}
.audio-player{margin-left:14%}
.albiste-bakarra .deskribapena,.albiste-bakarra .albiste-irudia{width:100%}
.disko-fitxa figure{width:99%}
}@media screen and (max-width:414px){body{width:90%}
#edukia .albistea .albiste-irudia,#edukia .albistea .deskribapena{width:100%}
#edukia .albistea .audio-player{margin-left:0}
}@media screen and (max-width:321px){#wrapper{max-width:100%}
#albo-barra{margin:5%}
#logoa{margin-left:25%}
.sare-sozialak{margin-left:6%}
.burua{margin:0}
.botoia{margin-top:.5em}
}