@media screen and (max-width:1024px)
	#menu-botoia
		display inline-block
		margin-left 1em
		margin-bottom 1em
		
	.menu-nagusia
		display none
@media screen and (max-width:768px)
	#edukia
		width 95%

	#albo-barra
		width 95%
		.irratia
			margin-right 2%
			width 50%
	.irratia
	#agenda
		display inline-block
		vertical-align top
	#logoa
		margin-left 15%
	.sare-sozialak
		margin-right 15%

@media screen and (max-width:672px)
	#logoa
		margin-left 5%
	.sare-sozialak
		margin-right 5%

@media screen and (max-width:603px)
	#albo-barra
		.irratia
		#agenda
			display block
			width 100%

@media screen and (max-width:511px)
	#logoa
		width 20%

@media screen and (max-width:480px)
	#edukia
		h2
			margin-left 2%
		.albistea
			.deskribapena
				margin 0 2% .5em 2% 
				width 96%
				.audio-player
					width 300px
			.img-thumb
				margin .5em 15% 0 15%
				width 70%
	#edukia
	#albo-barra
		display block
		width 100%
		margin 0
		.irratia
		#agenda
			margin 0 2%
			width 96%
	#scrollUp
		opacity 0.7
@media screen and (max-width:321px)
	#menu-botoia
		margin-top 1em
	#scrollUp
		bottom 35px
