@media screen and (max-width:982px)
	body
		width 100%
	#albo-barra
		width 93%
	#wrapper
		width 97%
	#edukia
		margin-left 2%
		width 96%
		.albistea
			width 100%
			.albiste-irudia
				margin-right 1%
				width 20%
	.audio-player
		width 300px
		margin-left 28%

@media screen and (max-width:902px)
	#albo-barra
		width 90%

@media screen and (max-width:770px)
	#logoa
		margin-left 10%

	.sare-sozialak
		margin-right 10%

@media screen and (max-width:632px)
	#edukia
		width 90%
		margin-left 3%
	#menu-botoia
		display inline-block
		margin-left 1em
		margin-bottom 1em
	.menu-nagusia
		display none
	
@media screen and (max-width:602px)
	#logoa
		margin-left 5%

	.sare-sozialak
		margin-right 3%
